*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content{
  margin: auto;
  height: auto;
  width: 700px;
  min-height: 250px;
  background-color: white;
  padding: 30px;
}

#quote{
  font-family: Arial;
  font-size: 50px;
  margin-bottom: 50px;
}

#author{
  text-align: right;
  font-size: 20px;
}

a{
  color: white;
  font-size: 20px;
  padding: 8px;
}

.quoteButtons{
  display: flex;
  justify-content: space-between;
}

button{
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  height: 39px;
}

#quote, #quote p {
  transition: opacity 0.5s ease-in-out; 
}

.quoteButtons a, .quoteButtons button {
  transition: opacity 0.5s ease-in-out; 
}